<div id="<%= dom_id project %>">
  <div>
    <strong>Tittle:</strong>
    <%= project.tittle %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= project.description %>
  </div>

  <div>
    <strong>Deadline:</strong>
    <%= project.deadline %>
  </div>

</div>
