<% content_for :title, "Editing project" %>

<center><h1>Editing Project</h1></center>

<div class="border_main">
  <div>
    <%= render "form", project: @project %>
  </div>
<br>
  <center>
  <div>
    <%= link_to "Show this project", @project, class: "btn btn-primary", style: "margin-left: 0;" %> |
    <%= link_to "Back to projects", projects_path, class: "btn btn-primary" %>
  </div>
  </center>
</div>
