/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(211, 211, 211);
}

@keyframes hilang_otomatis {
  0% {
    max-height: 0px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 0.2;
  }
  20% {
    max-height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 1;
  }
  80% {
    max-height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 1;
  }
  100% {
    max-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    opacity: 0;
    overflow: hidden;
  }
}

hr {
  border-top: 2px solid black; /* Ganti jadi garis hitam tebal */
  margin: 20px 0;           /* Kasih jarak atas bawah biar gak nempel */
}

.btn {
  /* display: inline-block; */
  padding: 8px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid black ;
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.flex {
  display: flex;
  margin: 10px;
  justify-content: end;
}

.notif_sementara {
  animation: hilang_otomatis 5s forwards;
  overflow: hidden;
}

.btn_hapus {
  padding: 10px 20px;
  font-size: medium;
  color: red; 
}


.border_merah {
  border: 2px solid;
  border-color: rgb(255, 0, 0);
}

.border_hijau {
  border: 2px solid;
  border-color: rgb(34, 255, 0);
}

.text_merah {
  color: rgb(255, 0, 0);
}

.text_hijau {
  color: rgb(37, 197, 13);
}

.border_main {
  border: 4px solid black;
  background-color: rgb(237, 236, 255); 
  padding: 40px;           /* <-- Jarak antara garis kotak sama isi dalemnya */
  max-width: 560px;        /* <-- Lebar maksimal kotak biar gak melebar se-layar */
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;          /* <-- Biar kotaknya ada di tengah-tengah layar */
  border-radius: 10px;
  position: sticky;
}

.project_card {
  /* border: 3px solid; */
  margin: 20px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
}

.tittle-card {
  font-size: 26px;
}

.description_box {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.description_content {
  /* margin-top: 6px; */
  font-size: medium;
  /* white-space: pre-wrap;      */
  word-wrap: break-word;   
  overflow-wrap: break-word;
  word-break: break-word;   
  max-height: 30px;         
  max-width: 500px;
  overflow-y: auto;
  /* Sembunyiin Scrollbar (Firefox) */
  scrollbar-width: none;  
  /* Sembunyiin Scrollbar (IE & Edge) */
  -ms-overflow-style: none;
}

.description_content p {
  font-size: small;
}

.description-content::-webkit-scrollbar {
  display: none;
}

.button_create {
  margin: 20px;
}


/* Style Pages New(Create) */

.form_label {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form_input {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  max-width: 560px;
  width: 100%;
  height: 40px;
  min-height: 40px;
  resize: vertical;
}

.btn_submit {
  width: 100%;
  max-width: 560px;
  padding: 15px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border: 3px solid black;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s;
}

.btn_submit:hover {
  background-color: white;
  color: black;
}



/* Style Pages Show */

.description_border {
  border: 3px solid black;
  padding: 10px;
  position: relative;
  border-radius: 7px;
}

.detail_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 27px;
}

